<app-nav-bar></app-nav-bar>
<div class="container container-fluid mt-5">
    <div>
        <div class="row">
            <div class="col-sm-3 form-search">
                <form action="">
                    <div class="form-group">
                        <label for="">
                            <small>Home Type</small>
                        </label>
                        <select name=" " class="form-select ">
                            <option value="house ">House</option>
                            <option value="land ">Land</option>
                            <option value="cottage ">Cottage</option>
                         </select>
                    </div><br>
                    <div class="form-group">
                        <label for="">
                            <small>For Sale / For Rent</small>
                        </label>
                        <select name=" " class="form-select ">
                            <option value="Sale ">For Sale</option>
                            <option value="Rent ">For Rent</option>
                         </select> </div><br>
                    <div class="form-group">
                        <label for="">
                            <small>Price / Amount</small>
                        </label>
                        <input type="number " class="form-control " value="5000 ">
                    </div><br>
                    <div class="form-group">
                        <label for="">
                            <small>Bedrooms</small>
                        </label>
                        <select name=" " class="form-select ">
                            <option value="Sale ">0+</option>
                            <option value="Rent ">1</option>
                            <option value=" ">2</option>
                            <option value=" ">3+</option>
                         </select> </div><br>
                    <div class="form-group">
                        <label for="">
                            <small>Bathrooms</small>
                        </label>
                        <select name=" " class="form-select ">
                            <option value="Sale ">0+</option>
                            <option value="Rent ">1</option>
                            <option value=" ">2</option>
                            <option value=" ">3+</option>
                         </select> </div><br>
                    <div class="form-group">
                        <div class="d-grid">
                            <button class="btn btn-primary btn-block rounded-0">Search</button>
                        </div>
                    </div><br>
                </form>
            </div>
            <div class="col-sm-8">
                <div class="card mb-3">
                    <img src="https://netstorage-tuko.akamaized.net/images/0fgjhs6s3hhjccklg.jpg" height="350" class="card-img-top " alt="... ">
                    <div class="card-body">
                        <h5 class="card-title ">Card title</h5>
                        <div class="d-flex justify-content-center">
                            <p class="text-muted">
                                text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised
                                in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <h3>Realtor</h3>
    </div>
</div>